services:
  postgres:
    image: postgres:13
    restart: always
    environment:
      POSTGRES_DB: polymirror
      POSTGRES_USER: polymirror_user
      POSTGRES_PASSWORD: polymirror_password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
